body{
    margin: 0;
    background-image: url('../images/trip.png');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right bottom;

}


.navbar{
    font-family:  'fantasy';
    width: 100‰;
    background-color: rgb(8, 133, 96, 0.438);
    overflow: auto;
    font-style: italic
}

.navbar a{
    font-family:  'fantasy';
    font-size: 20px;
    float: left;
    padding: 40px 97px 40px;
    color: white;
    width: 70‰;
    text-decoration: none
}

h1{
    color :rgba(163, 148, 10, 0.795);
    font-family: 'fantasy';
    font-size: 50px;
    font-style: italic;
    text-align: center;
    padding-right: 90px;
}

h2{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 18px;
    font-style: italic;
    text-align: left;
    padding-left: 90px;
    padding-top: 250px;
}

h3{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 18px;
    font-style: italic;
    text-align: left;
    padding-left: 90px;
}
h4{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 18px;
    font-style: italic;
    text-align: left;
    padding-left: 90px;
}

ul{
    text-decoration: none;
    font-size: 16px;
    font-family:'Fantasy';
    font-style: italic;
    color: gray;
    padding-right: 130px;
    text-align: right;
    list-style-type: none;

}
.location{
    font-family:  'fantasy';
    position: fixed; 
    top: 0; 
    left: 0;
    transition: 0.5s;
    height: 460px;
    width: 300px;
    background-color: rgba(222, 184, 135, 0.479);
    padding-top: 190px;
    padding-right: 40px;
}
.lost{
     text-align: center;
    font-family: 'fantasy';
    font-size: 17px;
    color: rgb(32, 78, 55);
    font-style: italic;
    padding-top: 220px;
    padding-right: 90px;
}