body{
    margin: 0;
    background-image: url('../images/trip.png');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: left bottom;

}


.navbar{
    font-family:  'fantasy';
    width: 100‰;
    background-color: rgb(8, 133, 96, 0.438);
    overflow: auto;
    font-style: italic
}

.navbar a{
    font-family:  'fantasy';
    font-size: 20px;
    float: left;
    padding: 40px 97px 40px;
    color: white;
    width: 70‰;
    text-decoration: none
}

h1{
    color :rgba(163, 148, 10, 0.795);
    font-family: 'fantasy';
    font-size: 50px;
    font-style: italic;
    text-align: right;
    padding-right: 290px;
}

h2{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 18px;
    font-style: italic;
    text-align: right;
    padding-right: 130px;
    padding-top: 250px;
}

h3{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 16px;
    font-style: italic;
    text-align: right;
    padding-right: 130px;
}
h4{ 
    color: rgba(60, 141, 130, 0.596);
    font-family: 'fantasy';
    font-size: 16px;
    font-style: italic;
    text-align: right;
    padding-right: 130px;
}

ul{
    text-decoration: none;
    font-size: 16px;
    font-family:'Fantasy';
    font-style: italic;
    color: gray;
    padding-right: 130px;
    text-align: right;
    list-style-type: none;

}