body{
    margin: 0;
    background-image: url('../images/balloons.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right;
   
}


.navbar{
    font-family:  'fantasy';
    width: 100‰;
    background-color: rgb(8, 133, 96, 0.438);
    overflow: auto;
    font-style: italic
}



.navbar a{
    font-family:  'fantasy';
    font-size: 20px;
    float: left;
    padding: 40px 107px 40px;
    color: white;
    width: 70‰;
    text-decoration: none
}


h2{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-right: 270px;
    padding-top: 200px;
}

h3{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-right: 200px;
}

ul{
    list-style-type: none;
    text-align: left;
}

.sidenav{
    font-family:  'fantasy';
    position: fixed; 
    top: 0; 
    left: 0;
    transition: 0.5s;
    height: 460px;
    width: 300px;
    background-color: rgba(110, 252, 169, 0.336);
    padding-top: 190px;
    padding-right: 40px;
}

.sidenav a{
    font-family:'Fantasy';
    font-size: 20px;
    color: rgb(32, 124, 131);
    text-decoration: none;
    font-style: bold;
    padding-left: 14px;
}

.informations{
    font-size: 16px;
    text-decoration: none;
    font-family:'Fantasy';
    font-style: italic;
    color: gray;
    padding-left: 25px;
    text-align: left;
    padding-top: 100px;
}

.paragrafosfixes{
    text-decoration: none;
}