body{
    margin: 0;
}

.imagem {
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1100px;
    
}

.centered {text-align: center}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 40px;
    overflow: hidden;
    background-color: rgba(8, 133, 96, 0.438);
    text-align: center;
}

li{
    float: left;
    font-size: 20px;
}

li a{
    display: list-item;
    color: rgb(255, 255, 255);
    font-family:  'fantasy';
    text-align: center;
    font-style: italic;
    padding: 10px 120px;
    text-decoration: none;
}


h1{
    color :rgba(163, 148, 10, 0.795);
    font-family: 'fantasy';
    font-size: 100px;
    font-style: italic;
}

h2{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    font-style: italic;
}

h3{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-style: italic;
}

.declaracao{
padding-top: 20px;
}

th{
    color:rgba(47, 109, 78, 0.705);
    font-family: 'Fantasy';
    font-size: 30px;
    font-style: italic;
    padding-top: 35px;
}


.title {padding-top: 300px}
   
.duvidas {
    color:rgba(163, 148, 10, 0.795);
    font-family: 'fantasy';
    font-size: 30px;
    font-style: italic;
}


.footer {
    padding-top: 25px;
    font-family: 'fantasy';
    font-size: 17px;
    color: rgb(32, 78, 55);
    font-style: italic;
    margin-left: 20px; 
}


